<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Login">

    <script src="https://cdn.auth0.com/js/lock-9.1.min.js"></script>
    <script type="text/javascript">

        var lock = new Auth0Lock('${clientid}', '${domain}');

        function signin() {
            lock.show({
                callbackURL: '${callback}'
                , responseType: 'code'
                , authParams: {
                    scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes
                }
            });
        }
    </script>
    <button onclick="window.signin();">Login</button>

</@layout.myLayout>