<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit Roles</h4>
        </div>
        <div class="modal-body">

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="member">
                    <b>Member</b><br/>
                    <i>The default role for all logged in users</i>
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="contributor">
                    <b>Contributor</b><br/>
                    <i>Users with this role can create VOTDs but cannot approve them.</i>
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="publisher">
                    <b>Publisher</b><br/>
                    <i>Users with this role can create VOTDs and approve them as well.</i>
                </label>

            </div>


        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="saveRolesUpdate" type="button" class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>
</div>