<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Votds">

    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootbox.min.js"></script>

    <table id="usersTable" class="table table-responsive">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Last Login</th>
            <th>Date Joined</th>
            <th></th>
        </tr>
        </thead>
    </table>

    <script>

        $('#usersTable').confirmation({
            selector: '[data-toggle="confirmation"]',
            href: function (elem) {
                return $(elem).attr('href');
            }
        });

        $(document).on("click", "#editrole", function (e) {
            bootbox.dialog({
                message: "Info about the roles",
                title: "Edit Roles",
                buttons: {
                    cancel: {
                        label: "Cancel",
                        className: "btn",
                        callback: function () {
                            Example.show("cancel clicked");

                        }
                    },
                    save: {
                        label: "Save",
                        className: "btn-primary",
                        callback: function () {
                            Example.show("Saved");
                        }
                    },
                }
            });
        });

        $(document).ready(function () {
            $('#usersTable').DataTable({
                "ordering": false,
                "processing": true,
                "serverSide": true,
                "ajax": "/user/displayusers"
            });
        });

    </script>
</@layout.myLayout>