<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
"List Campaign">

<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title addHeader">Update Campaign</h2>
	</div>
	<form action="/campaign/saveCampaign" method="post" id="eventForm">
		<div class="form-group campaignForm ">
			<label for="campaignName">Campaign Name</label> <input type="text"
				class="form-control" id="campaignName" name="campaignName"
				placeholder="Enter Campaign Name">
		</div>
		<div class="form-group campaignForm">
			<label for="themes">Themes</label> <select id="themes" name="themes"
				multiple="multiple" class="form-control"> <#list themes as
				theme>
				<option value="${theme.getThemeId()}">${theme.getThemeName()}</option>
				<#else>
				<option value="0">No themes in database</option> </#list>
			</select>
		</div>
		<div class="form-group campaignForm">
			<label for="startDate">Start Date</label>
			<div class='input-group datetimepicker'>
				<input type="text" class="form-control"
					placeholder="MMM DD, YYYY" id="startDate" name="startDate" />
			</div>
		</div>
		<div class="form-group campaignForm">
			<label for="endDate">End Date</label>
			<div class='input-group datetimepicker'>
				<input type="text" class="form-control datetimepicker"
					placeholder="MMM DD, YYYY" id="endDate" name="endDate" />
			</div>
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-primary btn-md ">Save</button>
			&nbsp; <a aria-hidden="true" class="btn btn-default btn-md "
				href="/campaign/list">Cancel</a>
			<div class="clearfix"></div>
		</div>
	</form>
</div>
</@layout.myLayout>

