<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
    "List Campaign">

    <#if role?? && (role == "publisher" || role == "admin")>
        <a class="btn btn-raised btn-primary" href="/campaign/add" role="button">New Campaign</a>
    </#if>


    <div id="campaign" class="well">
        <table id="campaignListTbl" class="table table-responsive" data-page-length='10'>
            <thead>
            <tr>
                <th>Subscribe</th>
                <th>Name</th>
                <th>Theme(s)</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Send Time</th>
                <th>Duration</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <#list subscribedCampaignList as subscribedCampaign>
                <tr>
                    <td><input data-on-text="Subbed" data-off-text="Unsubbed" data-size="mini"
                               data-on-color="success" data-off-color="warning"
                               value=${subscribedCampaign.getCampaignId()}
                               type="checkbox" class="subscription"
                               name="subscription${subscribedCampaign.getCampaignId()}"
                               id="subscription${subscribedCampaign.getCampaignId()}" checked></td>
                    <td>${subscribedCampaign.campaignName}</td>
                    <td>
                        <#list subscribedCampaign.themeList as theme>
                            ${theme.themeName}
                            <#sep>,
                        </#list>
                    </td>
                    <td>${subscribedCampaign.startDate?string(dateFormat)}</td>
                    <#if subscribedCampaign.hasCampaignExpired() >
                        <td class="text-warning">${subscribedCampaign.endDate?string(dateFormat)}</td>
                        <#else>
                            <td>${subscribedCampaign.endDate?string(dateFormat)}</td>
                    </#if>
                    <td>${subscribedCampaign.sendTime}</td>
                    <td>${subscribedCampaign.campaignDays}
                        <#if subscribedCampaign.campaignDays == 1>
                            day
                            <#else>
                                days
                        </#if>
                    </td>
                    <td><i title="Campaign Description" data-placement="left"
                           data-toggle="campaigninfo" data-trigger="click"
                           data-html="true" data-content="${subscribedCampaign.campaignDescription}"
                           class="material-icons campaignDetails" aria-hidden="true">info</i></td>
                    <#if role?? && (role == "publisher" || role == "admin")>
                        <td><a class="material-icons" data-placement="top"
                               data-toggle="confirmation" aria-hidden="true"
                               data-title="Delete campaign"
                               href="/campaign/delete/${subscribedCampaign.getCampaignId()}">delete</a></td>
                        <td><a class="material-icons" aria-hidden="true"
                               href="/campaign/update/${subscribedCampaign.getCampaignId()}">mode_edit</a></td>
                    </#if>
                </tr>
                <#else>
                    <tr>

                    </tr>
            </#list>

            <#list campaignList as campaign>
                <tr>
                    <td><input data-on-text="Subbed" data-off-text="Unsubbed" data-size="mini"
                               data-on-color="success" data-off-color="warning" value=${campaign.getCampaignId()}
                               type="checkbox" class="subscription" name="subscription${campaign.getCampaignId()}"
                               id="subscription${campaign.getCampaignId()}"></td>
                    <td>${campaign.campaignName}</td>
                    <td>
                        <#list campaign.themeList as theme>
                            ${theme.themeName}
                            <#sep>,
                        </#list>
                    </td>
                    <td>${campaign.startDate?string(dateFormat)}</td>
                    <#if campaign.hasCampaignExpired() >
                        <td class="text-warning">${campaign.endDate?string(dateFormat)}</td>
                        <#else>
                            <td>${campaign.endDate?string(dateFormat)}</td>
                    </#if>
                    <td>${campaign.sendTime}</td>
                    <td>${campaign.campaignDays}
                        <#if campaign.campaignDays == 1>
                            day
                            <#else>
                                days
                        </#if>
                    </td>
                    <td><i data-placement="left"
                           data-toggle="campaigninfo" data-trigger="click"
                           data-html="true" data-content="${campaign.campaignDescription}"
                           class="material-icons campaignDetails" aria-hidden="true">info</i></td>
                    <#if role?? && (role == "publisher" || role == "admin")>
                        <td><a class="material-icons" data-placement="top"
                               data-toggle="confirmation" aria-hidden="true"
                               data-title="Delete campaign"
                               href="/campaign/delete/${campaign.getCampaignId()}">delete</a></td>
                        <td><a class="material-icons" aria-hidden="true"
                               href="/campaign/update/${campaign.getCampaignId()}">mode_edit</a></td>
                    </#if>
                </tr>
                <#else>
                    <tr>
                        <td colspan="5">No new campaigns for subscription.</td>
                    </tr>
            </#list>
            </tbody>
        </table>
    </div>

    <script>
        $("[class='subscription']").bootstrapSwitch();
        $("input[class='subscription']").on("switchChange.bootstrapSwitch", function (event, state) {
            var campaignId = event.target.value;
            var action = "";
            if (state == true) {
                action = "subscribe";
            } else {
                action = "unsubscribe";
            }

            $.ajax({
                url: "/campaign/" + action + "/" + campaignId,
                cache: false,
                success: function (data) {
                    console.log(data);
                },
                error: function (xhr, status, errorThro) {
                    console.log(xhr.responseText);
                }
            });

        });

        $('[data-toggle="confirmation"]').confirm();

        $(function () {
            $('[data-toggle="campaigninfo"]').popover()
        })
    </script>
</@layout.myLayout>
