 <script type="text/javascript">
            $(function () {
                $('#startDate').datepicker();
            });
        </script>
<form role="form">
	<div class="form-group">
		<label for="campaignName" class="campaignForm">Campaign Name</label> <input
			type="text" class="form-control" id="campaignName"
			placeholder="Enter Campaign Name">
	</div>
	<div class="form-group">
		<label for="campaignTheme" class="campaignForm">Campaign Theme</label><input
			class="form-control autocomplete" placeholder="Enter A" />
	</div>
	<div class="form-group">
		<label for="startDate" class="campaignForm">Start Date</label>
		<div class='input-group date' id='startDate'>
			<input type='text' class="form-control" /> <span
				class="input-group-addon"> <span
				class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label for="endDate" class="campaignForm">End Date</label>
		<div class='input-group date' id='endDate'>
			<input type='text' class="form-control" /> <span
				class="input-group-addon"> <span
				class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
	<button type="submit" class="btn btn-default">Save</button>
	<button type="button" class="btn btn-default">Cancel</button>
</form>

