<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
    "List Campaign">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Update Campaign</h2>
        </div>
        <div class="panel-body">
            <form role="form" action="/campaign/saveUpdateCampaign" class="form-horizontal" method="post"
                  id="updateForm" data-toggle="validator">

                <div class="form-group">
                    <label for="campaignName" class="col-sm-2 control-label">Campaign Name</label>
                    <div class="col-sm-4 input-group">
                        <input type="text" class="form-control" id="campaignName"
                               name="campaignName" placeholder="Enter Campaign Name" pattern="^[a-zA-Z0-9_ ]+$" required
                               value="${campaign.campaignName}">
                        <input type="hidden" id="campaignId"
                               name="campaignId" value="${campaign.campaignId}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="campaignDescription" class="col-sm-2 control-label">Campaign Description</label>
                    <div class="col-sm-4 input-group">
                        <textarea type="text"
                                  class="form-control" id="campaignDescription"
                                  name="campaignDescription"
                                  placeholder="Enter Campaign Description"
                                  rows="4">${campaign.campaignDescription}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="themes" class="col-sm-2 control-label">Themes</label>
                    <div class="col-sm-4 input-group">
                        <select id="themes" name="themes" multiple="multiple" class="form-control">
                            <#list themes as theme>
                                <#if campaign.getThemeList()?seq_contains(theme.getThemeName())>
                                    <option value="${theme.getId()}" selected>${theme.getThemeName()}</option>
                                    <#else>
                                        <option value="${theme.getId()}">${theme.getThemeName()}</option>
                                </#if>
                            </#list>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="startDate" class="col-sm-2 control-label">Start Date</label>
                    <div class='col-sm-4 input-group date' id="startDatePicker">
                        <input type="text" class="form-control"
                               id="startDate" name="startDate"
                               value="${campaign.startDate?string(dateFormat)}" required/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="endDate" class="col-sm-2 control-label">End Date</label>
                    <div class='col-sm-4 input-group date' id="endDatePicker">
                        <input type="text" class="form-control"
                               id="endDate" name="endDate"
                               value="${campaign.endDate?string(dateFormat)}" required/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class='col-sm-4 input-group'>
                        <input type="hidden" class="form-control"
                               placeholder="MMM DD, YYYY" id="campaignDays" name="campaignDays"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="formSubmitButton" class="btn btn-raised btn-default" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/assets/js/campaign.js"></script>
</@layout.myLayout>
