<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
"List Campaign">

<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">Update Campaign</h2>
	</div>

	<form role="form" action="/campaign/saveUpdateCampaign" method="post" id="updateForm">
		<div class="form-group">
			<label for="campaignName" class="campaignForm">Campaign Name</label>
			<input type="text" class="form-control input_full" id="campaignName"
				name="campaignName" placeholder="Enter Campaign Name"
				value="${campaign.campaignName}"><input type="hidden" id="campaignId"
				name="campaignId" value="${campaign.campaignId}">
		</div>
		<div class="form-group">
			<label for="themeList" class="campaignForm">Themes</label> <select
				id="themeList" name="themeList" multiple="multiple"
				class="form-control"> <#list themes as theme> <#if
				campaign.getThemeList()?seq_contains(theme.getThemeName())>
				<option value="${theme.getThemeId()}" selected>${theme.getThemeName()}</option>
				<#else>
				<option value="${theme.getThemeId()}">${theme.getThemeName()}</option>
				</#if> </#list>
			</select>
		</div>

		<div class="form-group">
			<label for="startDate" class="campaignForm">Start Date</label>
			<div class='input-group date'>
				<input type="date" class="form-control input_full" id="startDate"
					name="startDate" value='${campaign.startDate?string("yyyy-MM-dd")}' />
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="endDate" class="campaignForm">End Date</label>
			<div class='input-group date'>
				<input type="date" class="form-control" id="endDate" name="endDate"
					value='${campaign.endDate?string("yyyy-MM-dd")}' /> </span>
			</div>
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-primary btn-md ">Save</button>
			&nbsp; <a aria-hidden="true" class="btn btn-warning btn-md "
				href="/campaign/list">Cancel</a>
			<div class="clearfix"></div>
		</div>
	</form>
</div>
</@layout.myLayout>
