<!-- Navigation -->
<div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Verse of the Day</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <#if role?? && (role == "publisher" || role == "contributor" || role == "admin")>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">Setup <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/votd/list">Votd</a>
                            </li>
                            <#if role == "publisher" || role == "admin">
                                <li>
                                    <a href="/theme/list">Themes</a>
                                </li>
                                <li>
                                    <a href="/campaign/list">Campaign</a>
                                </li>
                            </#if>
                        </ul>
                    </li>
                </#if>
                <#if role?? && (role == "publisher" || role == "admin")>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">Settings <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/user/list">Users</a>
                            </li>
                            <li>
                                <a href="/admin/settings">Defaults and Templates</a>
                            </li>
                        </ul>
                    </li>
                </#if>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <#if loggedIn??>
                    <li>
                        <a href="/user/profile">My Profile</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </#if>
            </ul>

            <#if !loggedIn??>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/campaign/list">Login</a>
                    </li>
                </ul>
            </#if>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>

