<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <p>You keep him in perfect peace whose mind is stayed on you, because he trusts in you.</p>
                --Isaiah 26:3
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="">
            <h2 class="featurette-heading">Verse of the Day </h2>
            <p class="lead">Subscribe to campaigns and receive bible verses daily via e-mail in your favourite
                translations. Campaigns
                are primarily based on themes representing fundamental Christian values such as Faith and Love; or can
                be
                based on events such as Lent. Irrespective of the campaigns you feel led to subscribe to, we hope that
                the verses
                help in the renewal of your mind and the strengthening of your Faith in Jesus Christ.</p>
        </div>

        <hr class="featurette-divider">
        <a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss"
           target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50"
                                                                                          alt="JWT Auth for open source projects"
                                                                                          src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>

    </div>
</@layout.myLayout>