<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Settings">

    <form action="/admin/settings/save" method="post" class="form-horizontal" data-toggle="validator" role="form">
        <div class="well">
            <fieldset>
                <legend>General Settings</legend>
                <div class="form-group">
                    <label for="version" class="col-sm-2 control-label">Version</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="version" name="version" required>
                            <#list versions as version>
                            <option value="${(version)!}">${(version)!}</option>
                            </#list>
                            </select>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="well">
            <fieldset>
                <legend>Message Templates</legend>
                <div class="form-group">
                    <label for="welcomeSubject" class="col-sm-2 control-label">Welcome Message Subject</label>
                    <div class="col-sm-2">
                        <input class="form-control" id="welcomeSubject" name="welcomeSubject" value="${(adminSettings.getWelcomeSubject())!}" required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="welcomeMessage" class="col-sm-2 control-label">Welcome Message</label>
                    <div class="col-sm-2">
                        <textarea class="form-control" id="welcomeMessage" name="welcomeMessage" required>${(adminSettings.getWelcomeMessage())!}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newCampaignSubject" class="col-sm-2 control-label">New Campaign Subject</label>
                    <div class="col-sm-2">
                        <input class="form-control" id="newCampaignSubject" name="newCampaignSubject" value="${(adminSettings.getNewCampaignSubject())!}" required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="newCampaignMessage" class="col-sm-2 control-label">New Campaign Message</label>
                    <div class="col-sm-2">
                        <textarea class="form-control" id="newCampaignMessage" name="newCampaignMessage" required>${(adminSettings.getNewCampaignMessage())!}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="subscribedSubject" class="col-sm-2 control-label">Subscribed Subject</label>
                    <div class="col-sm-2">
                        <input class="form-control" id="subscribedSubject" name="subscribedSubject" value="${(adminSettings.getSubscribedSubject())!}" required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="subscribedMessage" class="col-sm-2 control-label">Subscribed Message</label>
                    <div class="col-sm-2">
                        <textarea class="form-control" id="subscribedMessage" name="subscribedMessage" required>${(adminSettings.getSubscribedMessage())!}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="unsubscribedSubject" class="col-sm-2 control-label">Unsubscribed Subject</label>
                    <div class="col-sm-2">
                        <input class="form-control" id="unsubscribedSubject" name="unsubscribedSubject" value="${(adminSettings.getUnsubscribedSubject())!}" required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="unsubscribedMessage" class="col-sm-2 control-label">Unsubscribed Message</label>
                    <div class="col-sm-2">
                        <textarea class="form-control" id="unsubscribedMessage" name="unsubscribedMessage" required>${(adminSettings.getUnsubscribedMessage())!}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newVotdSubmittedSubject" class="col-sm-2 control-label">New VOTD Submitted Subject</label>
                    <div class="col-sm-2">
                        <input class="form-control" id="newVotdSubmittedSubject" name="newVotdSubmittedSubject" value="${(adminSettings.getNewVotdSubmittedSubject())!}" required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="newVotdSubmittedMessage" class="col-sm-2 control-label">New VOTD Submitted Message</label>
                    <div class="col-sm-2">
                        <textarea class="form-control" id="newVotdSubmittedMessage" name="newVotdSubmittedMessage" required>${(adminSettings.getNewVotdSubmittedMessage())!}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="genericMessageFooter" class="col-sm-2 control-label">Generic Message Footer</label>
                    <div class="col-sm-2">
                        <input class="form-control" id="genericMessageFooter" name="genericMessageFooter" value="${(adminSettings.getGenericMessageFooter())!}" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input hidden name="settingsid" id="settingsid" value="${(adminSettings.getId())!}">
                        <button id="formSubmitButton" class="btn btn-raised btn-default" type="submit">Save</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>

</@layout.myLayout>