<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Votds">

    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.js"></script>
    <a class="btn btn-raised btn-primary" href="/votd/create" role="button">New VoTD</a>
    <div class="well">
        <table id="votdTable" class="table table-responsive">
            <thead>
            <tr>
                <th>Verses</th>
                <th>Themes</th>
                <th>Status</th>
                <th>Approve</th>
                <th>Created By</th>
                <th>Modified By</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>

    <script>
        $('#votdTable').on('click', '[data-toggle="confirmation"]', function (e) {
            e.preventDefault();
            $.confirm({
                confirm: function () {
                    top.location.href = e.target.href;
                },
                cancel: function () {
                    // nothing to do
                }
            });
        });

        $(document).ready(function () {
            $('#votdTable').DataTable({
                "ordering": false,
                "processing": true,
                "serverSide": true,
                "ajax": "/votd/displayvotds"
            });
        });

    </script>
</@layout.myLayout>